.wrapper {
    position: relative;
    box-sizing: border-box;
  }
  
  .inner {
    position: relative;
    padding-top: rem(45px);
    padding-bottom: rem(120px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding-bottom: rem(80px);
      padding-top: rem(80px);
    }
  }
  
  .title {
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
    font-size: rem(62px);
    font-weight: 900;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(42px);
      line-height: 1.2;
    }
  }
  
  .description {
    margin-top: var(--mantine-spacing-xl);
    font-size: rem(24px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(18px);
    }
  }
  
  .controls {  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-top: var(--mantine-spacing-xl);
    }
  }
  
  .control {
    height: rem(54px);
    padding-left: rem(38px);
    padding-right: rem(38px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      height: rem(54px);
      padding-left: rem(18px);
      padding-right: rem(18px);
      flex: 1;
    }
  }
  .content {
    display: flex;
  }
  
  .image-container {
    position: relative;
  }
  
  .image {
    margin-top:0cm;
    display: block;
    width: 600px; /* Resmin genişliği */
    height: auto; /* Resmin oranı korunacaksa, otomatik yükseklik ayarı */
    filter: drop-shadow(4px 35px 25px #E48838) brightness(0.8) grayScale(15%);
    animation: moveAnimation 5s linear infinite;

  }
@keyframes moveAnimation {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(-5%);
  }
}
  
  
  
  
  .textContainer {
    flex: 1; /* Metin bölümü resme göre genişlesin */
  }
  
  